*.user
*.opensdf
*.sdf
*.suo
*.obj
*.tlog
*.def
*.dll
*.manifest
*.exp
*.lastbuildstate
*.lib
*.log
*.map
*.pdb
*.cache
*.res
*.ipch
*.bsc
*.exe
*.xml
*.ilk
*.wixobj
*.pch
*.txt
*.msi
*.idb
*.flam3
*moc_*
*GeneratedFiles*
*.unsuccessfulbuild
*\Obj\*
Builds/MSVC/VS2010/Obj/x64/Debug/EmberCL_manifest.rc
Builds/MSVC/VS2010/Obj/EmberTester/x64/Debug/EmberTester_manifest.rc
Builds/MSVC/VS2010/Obj/EmberRender/x64/Debug/EmberRender_manifest.rc
Builds/MSVC/VS2010/Obj/EmberGenome/x64/Debug/EmberGenome_manifest.rc
Builds/MSVC/VS2010/Obj/EmberAnimate/x64/Debug/EmberAnimate_manifest.rc
Builds/MSVC/VS2010/Obj/Ember/x64/Debug/Ember_manifest.rc
Bin/x64/Release/testallvarsout.flame