*.user
*.opensdf
*.sdf
*.suo
*.obj
*.tlog
*.def
*.dll
*.manifest
*.exp
*.lastbuildstate
*.lib
*.log
*.map
*.pdb
*.cache
*.res
*.ipch
*.bsc
*.exe
*.xml
*.ilk
*.wixobj
*.pch
*.txt
*.msi
*.idb
*.flam3
*moc_*
*GeneratedFiles*